$color-bg-primary: #edd3c1;
$color-bg-secondary: #fcf4ef;
$color-button-primary: #f6914e;
$color-button-secondary: #3c562c;
$color-font-primary: #443636;
$color-font-secondary: #a7836d;



body{
    background-color: $color-bg-primary;
}


