<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>-PLAYGROUND</title>
  </head>
  <body>
    <section class="block container block-cards">
      <div class="grid grid--1x3">
        <div class="card-container">
          <div class="card-image1-container"></div>
          <div class="card-text-container">
            <p class="card1-text">
              Quite your mind <br />
              and calm the storm.
            </p>
          </div>
        </div>

        <div class="card-container">
          <div class="card-image2-container"></div>
          <div class="card-text-container">
            <p class="card2-text">
              Ease your pain and <br />
              sooth your joint.
            </p>
          </div>
        </div>

        <div class="card-container">
          <div class="card-image3-container"></div>
          <div class="card-text-container">
            <p class="card3-text">
              Sleep tight and wake<br />
              up refreshed
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
