<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>-PLAYGROUND</title>
  </head>
  <body>
    <section class="hero-container grid grid--1x2">
      <div class="hero-container-product-image">
        <img class="hero-product-image" src="images/product-image.png" alt="" />
      </div>
      <header>
        <h1>
          Pure All Natural <br />
          CBD inspired by the <br />
          Islands of Hawaii
        </h1>
        <p class="hero__tagline">ZERO THC - all natural cannabidoil</p>
        <button class="btn btn--primary">Shop now</button>
      </header>
    </section>
  </body>
</html>
